awsebcli==3.10.1
dj-database-url==0.4.2
Django==1.11.1
django-allauth==0.32.0
django-bootstrap3==8.2.3
oauthlib==2.0.2
python-dateutil==2.6.0
python-decouple==3.0
python3-openid==3.1.0
psycopg2==2.7.2
requests==2.9.1
requests-oauthlib==0.8.0
websocket-client==0.40.0
